
/*Общие стили*/
body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.older-container {
	width: 1200px;
	position: relative;
	margin: 0 auto;
	position: relative;
	background-color: #ffffff;

}

.visually-hidden { 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	margin: -1px; 
	border: 0; 
	padding: 0; 
	clip: rect(0 0 0 0); 
	overflow: hidden; 
}

a {
	text-decoration: none;
}

.older-container li {list-style: none;
}

/*Шапка-навигация*/

.logo-body {
	position: relative;
	display: flex;
	min-height: 510px;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-image: url(../img/shape-background.png), 
	url(../img/background-photo.jpg);
	background-size: 100% 57px, cover;
	background-position: bottom, center;
}

.logo-body img {
	margin-top: 75px;
	margin-right: auto;
	margin-left: auto;
}

.main-header-logo {
	position: relative;
	z-index: 1;
	display: block;
	width: 138px;
	margin:0 auto;
	margin-bottom: -69px;


}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	min-height: 55px;
	padding: 0;
	margin: 0;
	padding-right: 6%;
	padding-left: 6%;
}

.site-navigation a:link {
	color: #000000; 
}
.site-navigation a:visited {
  	color: #918279;
}
.site-navigation a:hover, 
.site-navigation a:focus {
  	color: #81b3d2; 
}
.site-navigation a:active {
  	color: rgba(0, 0, 0, 0.3);
}

.site-navigation li {
	padding: 0;
	margin: 0;
	text-align: left;
	width: 20%;

}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

/*Основное содержание*/

.reasons {
	padding: 0;
	margin: 0;
}

.cause {
	width: 1200px;
	text-align: center;
	background-color: #ffffff;
}

.cause h1{
	font-size: 21px;
	line-height: 26px;
	width: 440px;
	margin-top: 61px;
	margin-bottom: 27px;
	margin: 0 auto;
	padding: 0;
}

.cause p{   
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 50px;
	margin: 0;
	padding: 0;
}

.description-city {
	background-color: #81b3d2;
	text-align: center;
	color: #ffffff;
}

.photo-city {
	width: 66%;
	background-image: url("../img/house-in-sedona.jpg");
	background-position: center;
	background-size: cover;
}

.description-city-list {
	display: flex;
	padding: 0;
}

.description-city h2{
	font-size: 21px;
	line-height: 21px;
	width: 155px;
	padding: 0;
	margin: 0 auto;
	margin-top: 48px;
	margin-bottom: 23px;
}

.description-city p{
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	width: 305px;
	margin: 0 auto;
	margin-bottom: 60px;
	padding: 0;
	margin: 0 auto;
}

.advice {
	text-align: center;
	background-color: #ffffff;
}

.advice p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
} 

.advice-list-motel {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.advice-list-motel li {
	width: 33.33%;
}

.advice-souvenirs-item .paragraph {
	display: inline-block;
}

.advice-item-motel, 
.advice-food-item, 
.advice-souvenirs-item {
	position: relative;
	padding-left: 0;
	margin: 0;
	margin-bottom: 23px;
	margin-top: 160px;
}

.description-city-item {
width: 33%;

}

.description-city-item, 
.description-bridge-item,  {
	padding: 0;
	margin: 0;
	text-align: center;
}

.description-ciry-item img, 
.description-bgidge-item img {
	flex-grow: 2;
}

.description-bridge {
	background-color: #81b3d2;
	text-align: center;
	color: #ffffff;
}

.bridge {
	width: 66%;
	background-image: url("../img/devil-bridge.jpg");
	background-position: center;
	background-size: cover;
}

.paragraph {
	width: 265px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 83px;
}

.description-bridge-list {
	padding: 0;
	margin: 0;
}

.description-bridge-item {
	flex-wrap: wrap-reverse;
	width: 33%;
}

.description-bridge-item h2 {
	font-size: 21px;
	line-height: 21px;
}

.number {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	margin-bottom: 0px;
}

.description-bridge-item p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	width: 305px;
	margin-bottom: 60px;
	padding: 0;
	margin: 0 auto;
}

.description-gray {
	text-align: center;
	background-color: #eeeeee;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.description-item h2{
	font-size: 21px;
	line-height: 21px;
}

.description-item p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	width: 305px;
	margin-bottom: 60px;
	padding: 0;
	margin: 0 auto;
}

.search-hotels {
	text-align: center;
	background-color: #ffffff;
}

.search-hotels div{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0;
}

.search-hotels h2 {
	font-size: 30px;
	line-height: 36px;
	padding: 0;
	margin: 0;
	margin-bottom: 24px;
	margin-top: 50px;
}

.search-hotels p {
	font-style: 14px;
	line-height: 24px;
	font-weight: normal;
}

.conatainer-form {
	position: absolute;
	left: 316px;
	height: 480px;
	padding: 55px;
	margin: 0;
	background-color: #ffffff;
}

.date-search {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 55px;
}

.date-in {
	position: relative;
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding-top: 57px;
	margin: 0;
	margin-bottom: 31px;
}

.form-label {
	font-weight: 700;
}

.form-input {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
	border: none;
	width: 331px;
	height: 34px;
	margin: 0;
	padding: 0;
	padding-left: 15px;
}

.date-out {
	position: relative;
	justify-content: space-between;
	display: flex;
	align-items: center;
	margin: 0;
	margin-bottom: 29px;
	padding: 0;
}

.button-search {
	font-family: 'PT Sans', Arial, sans-serif; 
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	background-color: #766357;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	padding: 30px 140px;
	vertical-align: middle;

}
.button-search:hover, 
.button-search:focus {
	background-color: #604e43;
}

.button-search:active {
	color: #928a85;
	background-color: #503e33;
}

.search input {
	border: 2px solid #f2f2f2;
	background-color: #f2f2f2;
}

.search input:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
}

.search input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.search label{
	font-style: 14px;
	line-height: 26px;
}


.form-input::placeholder {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}
.calendar-btn-1 {
	position: absolute;
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	top: 65px;
	right: 8px;
}
.calendar-btn-2 {
	position: absolute;
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	top: 8px;
	right: 8px;
}

.calendar {
	fill: #d4d4d4;
}

.calendar:hover, 
.calendar:focus {
	fill: #000000;
}

.calendar:active {
	fill: #81b3d2;
}
.block-quantity-adult {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 226px;
	height: 38px;
	margin: 0;
	padding: 0;
}
.block-quantity-child {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 179px;
	height: 38px;
	margin: 0;
	padding: 0;
}
.block-quantity-child label, 
.block-quantity-adult label {
	margin-right: auto;
}

.block-quantity-child input, 
.block-quantity-adult input {
	height: 32px;
	width: 34px;
	text-align: center;
}

.button-less, 
.button-plus {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 38px;
	height: 38px;
	line-height: 26px;
	font-size: 21px;
	color: #928a85;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
}
.button-less:hover, 
.button-plus:hover, 
.button-less:focus, 
.button-plus:focus {
	color:#000000;
}

.button-plus:active, 
.button-less:active {
	color: #81b3d2;
}

.button-submit {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #81b3d2;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	height: 58px;
	width: 458px;
	vertical-align: middle;
	border: none;
}

 .button-submit:hover, 
 .button-submit:focus {
 	background-color: #669ec0;
 }


 .button-submit:active {
 	color: #94b9d2;
 	background-color: #5496bd;
 }

 /*подвал*/

 .main-footer {
 	display: flex;
 	margin: 0;
 	height: 120px;
 	justify-content: space-around;
 	flex-wrap: wrap;
 	align-items: center;
 }

.visit {
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	width: 400px;

}

.footer-social {
	text-align: center;
	width: 400px;
}

.social-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0 auto;
	width: 150px;
}

.social-button {
	text-align: center;
	color: #ffffff;
	background-color: #81b3d2;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 48px;
	width: 46px;
}
.social-button:hover,
.social-button:focus {
	color: #ffffff;
	background-color: #669ec0;
}

.social-button:active {
	color: #88b6d1;
	background-color: #5496bd;
}

.social {
	fill: white;
	background-color: #81b3d2;
}

.social:hover {
	background-color: #669ec0;
}

.social:active {
	fill: #88b6d1;
	background-color: #5496bd;
}

.coryright {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 400px;
}

.html-logo {
	width: 115px;
	height: 41px;
	fill: #000000;
}

.html-logo:hover,
.html-logo:focus {
	fill: #81b3d2;
}

.html-logo:active {
	fill: #c2c0c1;
}

.web-by {
	font-size: 14px;
	line-height: 26px
	font-weight: 400;
	margin-right: 6px;
	line-height: 26px;
}

/*каталог*/


.site-navigation-current {
	color: #9b8d84;
}

.filtres {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0;
	padding: 0;
	color: #ffffff;
	background-size: 1200px 218px;
	background-color: #81b3d2;
	padding-left: 72px;
	padding-right: 72px;
	background-repeat: no-repeat;
	background-image: url("../img/background-photo.jpg")

}

.filtres fieldset {
	border: none;
}

.infrastructure, 
.type-of-accommodation {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	margin-top: 29px;
	margin-bottom: 9px;
	margin-right: 120px;
}
.type-of-accommodation:nth-child(2) {
	margin-right: auto;
}

.sorting {
	margin: 0;
	padding: 0;
	margin-left: 40px;
	margin-bottom: 24px;
}

.sorting label {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	position: relative;
}

.sorting label::before {
  content:"";
  position: absolute;
  top: -4px;
  left: -41px;
  width: 23px;
  height: 23px;
  background-image: url("../img/catalog/checkbox-off.svg");
}

input[type="checkbox"]:checked ~ .sorting label::before {
  width: 27px;
  background-image: url("../img/catalog/checkbox-on.svg");
}

input[type="checkbox"]:disabled ~ .sorting label::before {
  background-image: url("../img/catalog/checkbox-off-disayble.svg");
}

input[type="checkbox"]:checked:disabled ~ .sorting label::before {
  width: 27px;
  background-image: url("../img/catalog/checkbox-on-disayble.svg");
}

.price-per-day {
	width: 319px;
	margin: 0;
	margin-top: 27px;

}

.filtres legend {
	font-size: 16px;
	line-height: 21px;
}

.input-group {
	position: relative;
  	height: 32px;
  	margin-bottom: 20px;
  	font-size: 0;
  	border: 2px solid #ffffff;
 	 border-radius: 2px;
}

.input-group::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  top: 50%;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.input-group label {
	font-size: 14px;
  line-height: 21px;
	padding-top: 5px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.input-group .min-price, 
.input-group .max-price {
  width: 90px;
  padding-left: 65px;
}

.input-group .max-price {
  padding-left: 56px;
}

.input-group input {
	width: 50px;
	padding-bottom: 3px;
	margin: 0;
	font: inherit;
	color: inherit;
	border: none;
	background: none;
}

.range-slider {
	margin-bottom: 32px;
	position: relative;
}

.range-slider .gray-stripe {
  height: 3px;
  background: rgba(255, 255, 255, 0.5);
}

.range-slider .white-stripe {
  width: 70%;
  height: 3px;
  background: #ffffff;
}

.slider {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider:hover,
.slider:focus {
	border: 8px solid #ffffff;
	background-color: #000000;
}

.slider-max {
	left: 70%;
}

.filtres-title {
	margin: 0;
	margin-bottom: 24px;
	padding: 0;
	text-align: left;
}

.filtres-button {
	border: 2px solid white;
	color: white;
	background-color: transparent;
	text-transform: uppercase;
	display: inline-block;
	margin-left: 87px;
	padding: 6px 30px;
	vertical-align: middle;
	cursor: pointer;
}

.filtres-button:hover,
.filtres-button:focus {
	color: #000000;
	background-color: #ffffff;
}

.found-item p {
	font-size: 21px;
	line-height: 26px;
}

.input-group input {
	color: #ffffff;
	border:2px solid #ffffff;
	background-color: transparent;
}
/*
.sort-item p {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.arrows {
	fill: #cacaca;
}

.arrows:hover {
	fill:#000000;
}

.arrows:active {
	fill: #81b3d2;
}

.sort-item-current {
	color: #81b3d2;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.button-sort-item {
	font-size: 12px;
	line-height: 18px;
	border-bottom: 1px dashed;
	font-weight: 400;
	color: #e1e1e1;
}

.button-sort-item:hover {
	color: #81b3d2;
}

.button-sort-item:focus {
	color: #000000;
	border-bottom: none;
}

.name {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.price {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.name:hover {
	color: #81b3d2;
}

.name:active {
	color: #cacaca;
}

.raiting {
	background-color: #cacaca;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.button-more {
	color: #ffffff;
	background-color: #81b3d2;
}

.button-more:hover {
	background-color: #669ec0;
}

.button-more:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.button-book {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	background-color: #766357;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'PT Sans', Arial, sans-serif;
}

.button-book:hover {
	background-color: #604e43;
}

.button-book:focus {
	color: #928a85;
	background-color: #503e33;
}











 



